<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
</head>
<body>
  <div><%= test %></div>
  <ul>
    <% show.forEach(function(item){ %>
      <!--<li><%= item.name %> <img src=<%= item.url %> alt=""></li>-->
      <li><%= item.name %> <img src='123.jpg' alt=""></li>
    <% }) %>
  </ul>
</body>
</html>