<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=t, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% photos.forEach(function(item){ %>
      <span><%= item.name %></span>
      <a href='/photo/<%= item.id %>/download'>
        <img src="<%= item.path %>" alt="">
      </a>
    <% }) %>
  </ul>
  <a href="/upload">上传图片</a>
</body>
</html>